.DS_Store

Orchestrator/target
*.onnx
*.sig
*.mem

*.ot

Environment/
Example/*.csproj
Example/CognitionLearn/Assembly-CSharp-Editor.csproj
Example/CognitionLearn/Assembly-CSharp.csproj
Example/CognitionLearn/Assets/checkpoints/logs/*.log
Example/CognitionLearn/Assets/checkpoints/logs/*.tfevents.*


Orchestrator/.venv/
Orchestrator/Cargo.lock

Example/CognitionLearn/Library
Example/CognitionLearn/Logs
Example/CognitionLearn/Temp
Example/CognitionLearn/.vscode
Example/CognitionLearn/runs/

Example/CognitionLearn/Assets/Trainning/checkpoint/*.json
Example/CognitionLearn/Assets/Trainning/

Logs/*.log
*.pdb.meta
